.spacer {
    flex: 1 1 auto;
}
.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu {
    width: 800px;
}
::ng-deep.menu {
    max-width: none !important;
}
