$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$steam-grey: (
    50: #E6E9ED,
    100: #C1C9D1,
    200: #98A5B3,
    300: #6E8094,
    400: #4F657D,
    500: #304A66,
    600: #2B435E,
    700: #243A53,
    800: #1E3249,
    900: #132238,
    A100: #76ABFF,
    A200: #438CFF,
    A400: #106DFF,
    A700: #005FF6,
    contrast: (
        50: dark-primary-text,
        100: dark-primary-text,
        200: dark-primary-text,
        300: dark-primary-text,
        400: dark-primary-text,
        500: light-primary-text,
        600: light-primary-text,
        700: light-primary-text,
        800: light-primary-text,
        900: light-primary-text,
        A100: dark-primary-text,
        A200: light-primary-text,
        A400: light-primary-text,
        A700: light-primary-text,
    )
);
$steam-blue: (
    50: #EFF8FF,
    100: #D8EDFE,
    200: #BEE2FD,
    300: #A3D6FC,
    400: #90CDFC,
    500: #7CC4FB,
    600: #74BEFA,
    700: #69B6FA,
    800: #5FAFF9,
    900: #4CA2F8,
    A100: #FFFFFF,
    A200: #FFFFFF,
    A400: #EBF5FF,
    A700: #D2E8FF,
    contrast: (
        50: dark-primary-text,
        100: dark-primary-text,
        200: dark-primary-text,
        300: dark-primary-text,
        400: dark-primary-text,
        500: light-primary-text,
        600: light-primary-text,
        700: light-primary-text,
        800: light-primary-text,
        900: light-primary-text,
        A100: dark-primary-text,
        A200: light-primary-text,
        A400: light-primary-text,
        A700: light-primary-text,
    )
);
$steam-green: (
    50: #EBF0E2,
    100: #CED8B7,
    200: #AEBF88,
    300: #8DA558,
    400: #749134,
    500: #5C7E10,
    600: #54760E,
    700: #4A6B0C,
    800: #416109,
    900: #304E05,
    A100: #C3FF82,
    A200: #ABFF4F,
    A400: #93FF1C,
    A700: #87FF03,
    contrast: (
        50: dark-primary-text,
        100: dark-primary-text,
        200: dark-primary-text,
        300: dark-primary-text,
        400: dark-primary-text,
        500: light-primary-text,
        600: light-primary-text,
        700: light-primary-text,
        800: light-primary-text,
        900: light-primary-text,
        A100: dark-primary-text,
        A200: light-primary-text,
        A400: light-primary-text,
        A700: light-primary-text,
    )
);