@use '@angular/material' as mat;
@include mat.core();

@import './steam-palettes.scss';

$primary: mat.define-palette($steam-grey, 700);
$accent: mat.define-palette($steam-blue);
$warn: mat.define-palette($steam-green);

$dark-theme: mat.define-dark-theme((
    color: (
        primary: $primary, accent: $accent, warn: $warn,
    )
));
$light-theme: mat.define-light-theme((
    color: (
        primary: $primary, accent: $accent, warn: $warn,
    )
));

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);
@media (prefers-color-scheme: light) {
    @include mat.all-component-themes($light-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
